## Fetch Weather Data: API Exploration
### *This notebook fetches weather data from two sources: NOAA and Open Weather*

#### NOAA API
The documentation for the web API for NOAA climate data can be found [here](https://www.ncdc.noaa.gov/cdo-web/webservices/v2).

In [1]:
import requests
import json
import pandas as pd
headers = {"token": "xVEIkLnfHyheHhvoheZSxesUerlyrxGN"}

#### All Available Datasets

In [3]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datasets"
response = requests.get(url=url, headers=headers)
noaa_all_datasets_json = response.json()
print(noaa_all_datasets_json["metadata"])
noaa_all_datasets_df = pd.DataFrame(noaa_all_datasets_json['results'])
noaa_all_datasets_df

{'resultset': {'offset': 1, 'count': 11, 'limit': 25}}

,datacoverage,id,maxdate,mindate,name,uid
0,1.00,GHCND,2018-10-01,1763-01-01,Daily Summaries,gov.noaa.ncdc:C00861
1,1.00,GSOM,2018-08-01,1763-01-01,Global Summary of the Month,gov.noaa.ncdc:C00946
2,1.00,GSOY,2018-01-01,1763-01-01,Global Summary of the Year,gov.noaa.ncdc:C00947
3,0.95,NEXRAD2,2018-10-02,1991-06-05,Weather Radar (Level II),gov.noaa.ncdc:C00345
4,0.95,NEXRAD3,2018-09-30,1994-05-20,Weather Radar (Level III),gov.noaa.ncdc:C00708
5,1.00,NORMAL_ANN,2010-01-01,2010-01-01,Normals Annual/Seasonal,gov.noaa.ncdc:C00821
6,1.00,NORMAL_DLY,2010-12-31,2010-01-01,Normals Daily,gov.noaa.ncdc:C00823
7,1.00,NORMAL_HLY,2010-12-31,2010-01-01,Normals Hourly,gov.noaa.ncdc:C00824
8,1.00,NORMAL_MLY,2010-12-01,2010-01-01,Normals Monthly,gov.noaa.ncdc:C00822
9,0.25,PRECIP_15,2014-01-01,1970-05-12,Precipitation 15 Minute,gov.noaa.ncdc:C00505
10,1.00,PRECIP_HLY,2014-01-01,1900-01-01,Precipitation Hourly,gov.noaa.ncdc:C00313

#### Daily Summaries Dataset

* For our purposes, we will be working with daily summaries data.
* Fetch all information about the GHCND, Daily Summaries dataset specifically.

In [23]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datasets/GHCND"
response = requests.get(url=url, headers=headers)
noaa_daily_summaries_json = response.json()

In [26]:
print(noaa_daily_summaries_json)

{'mindate': '1763-01-01', 'maxdate': '2018-09-28', 'name': 'Daily Summaries', 'datacoverage': 1, 'id': 'GHCND'}

#### Datatype Filter

In [27]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datasets?datatypeid=TOBS"
response = requests.get(url=url, headers=headers)
noaa_tobs_json = response.json()

In [28]:
noaa_tobs_json

{'metadata': {'resultset': {'offset': 1, 'count': 1, 'limit': 25}},
 'results': [{'uid': 'gov.noaa.ncdc:C00861',
   'mindate': '1763-01-01',
   'maxdate': '2018-09-28',
   'name': 'Daily Summaries',
   'datacoverage': 1,
   'id': 'GHCND'}]}

#### Set of Stations

In [32]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datasets?stationid=COOP:310090&stationid=COOP:310184&stationid=COOP:310212"
response = requests.get(url=url, headers=headers)
noaa_stations_json = response.json()
print(noaa_stations_json)

Note: The above example is not working as there is no data available at the given list of stations at this moment.

#### Data Categories

In [40]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datacategories?limit=100"
response = requests.get(url=url, headers=headers)
noaa_data_categories_json = response.json()
print(noaa_data_categories_json["metadata"])
noaa_data_categories_df = pd.DataFrame(noaa_data_categories_json['results'])
print(noaa_data_categories_df.shape)
noaa_data_categories_df

{'resultset': {'offset': 1, 'count': 42, 'limit': 100}}
(42, 2)

               id                        name
0          ANNAGR         Annual Agricultural
1           ANNDD          Annual Degree Days
2         ANNPRCP        Annual Precipitation
3         ANNTEMP          Annual Temperature
4           AUAGR         Autumn Agricultural
5            AUDD          Autumn Degree Days
6          AUPRCP        Autumn Precipitation
7          AUTEMP          Autumn Temperature
8            COMP                    Computed
9         COMPAGR       Computed Agricultural
10             DD                 Degree Days
11  DUALPOLMOMENT            Dual-Pol Moments
12        ECHOTOP                   Echo Tops
13           EVAP                 Evaporation
14    HYDROMETEOR            Hydrometeor Type
15           LAND                        Land
16           MISC                  Miscellany
17          OTHER                       Other
18        OVERLAY                     Overlay
19           PRCP               Precipitation
20           PRES                    Pressure
21   REFLECTIVITY                Reflectivity
22            SKY          Sky cover & clouds
23          SPAGR         Spring Agricultural
24           SPDD          Spring Degree Days
25         SPPRCP        Spring Precipitation
26         SPTEMP          Spring Temperature
27          SUAGR         Summer Agricultural
28           SUDD          Summer Degree Days
29            SUN                    Sunshine
30         SUPRCP        Summer Precipitation
31         SUTEMP          Summer Temperature
32           TEMP             Air Temperature
33       VELOCITY                    Velocity
34  VERTINTLIQUID  Vertical Integrated Liquid
35          WATER                       Water
36          WIAGR         Winter Agricultural
37           WIDD          Winter Degree Days
38           WIND                        Wind
39         WIPRCP        Winter Precipitation
40         WITEMP          Winter Temperature
41         WXTYPE                Weather Type

#### WIND Datacategory

* We will be taking the WIND data category for our analysis in the preliminary phase.
* Fetch all information about the Wind dataset specifically

In [41]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datacategories/WIND"
response = requests.get(url=url, headers=headers)
noaa_wind_json = response.json()

In [43]:
print(noaa_wind_json)

{'name': 'Wind', 'id': 'WIND'}

#### Datatypes

In [44]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datatypes"
response = requests.get(url=url, headers=headers)
noaa_data_types_json = response.json()
print(noaa_data_types_json["metadata"])
noaa_data_types_df = pd.DataFrame(noaa_data_types_json['results'])
print(noaa_data_types_df.shape)
noaa_data_types_df

{'resultset': {'offset': 1, 'count': 1527, 'limit': 25}}
(25, 5)

,datacoverage,id,maxdate,mindate,name
0,1.00,ACMC,1996-05-28,1994-03-19,Average cloudiness midnight to midnight from 3...
1,1.00,ACMH,2005-12-31,1965-01-01,Average cloudiness midnight to midnight from m...
2,1.00,ACSC,1996-05-28,1994-02-01,Average cloudiness sunrise to sunset from 30-s...
3,1.00,ACSH,2005-12-31,1965-01-01,Average cloudiness sunrise to sunset from manu...
4,0.95,ALL,2018-10-02,1991-06-05,Base Data
5,1.00,ANN-CLDD-BASE45,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
6,1.00,ANN-CLDD-BASE50,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
7,1.00,ANN-CLDD-BASE55,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
8,1.00,ANN-CLDD-BASE57,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
9,1.00,ANN-CLDD-BASE60,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
10,1.00,ANN-CLDD-BASE70,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
11,1.00,ANN-CLDD-BASE72,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
12,1.00,ANN-CLDD-NORMAL,2010-01-01,2010-01-01,Long-term averages of annual cooling degree da...
13,1.00,ANN-DUTR-NORMAL,2010-01-01,2010-01-01,Long-term averages of annual diurnal temperatu...
14,1.00,ANN-GRDD-BASE40,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
15,1.00,ANN-GRDD-BASE45,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
16,1.00,ANN-GRDD-BASE50,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
17,1.00,ANN-GRDD-BASE55,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
18,1.00,ANN-GRDD-BASE57,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
19,1.00,ANN-GRDD-BASE60,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
20,1.00,ANN-GRDD-BASE65,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
21,1.00,ANN-GRDD-BASE70,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
22,1.00,ANN-GRDD-BASE72,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
23,1.00,ANN-GRDD-TB4886,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...
24,1.00,ANN-GRDD-TB5086,2010-01-01,2010-01-01,Long-term averages of annual growing degree da...

#### Datatype in Wind Category

In [59]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/datatypes?datacategoryid=WIND&limit=56"
response = requests.get(url=url, headers=headers)
noaa_wind_data_types_json = response.json()
print(noaa_wind_data_types_json["metadata"])
noaa_wind_data_types_df = pd.DataFrame(noaa_wind_data_types_json['results'])
print(noaa_wind_data_types_df.shape)
noaa_wind_data_types_df

{'resultset': {'offset': 1, 'count': 27, 'limit': 56}}
(27, 5)

,datacoverage,id,maxdate,mindate,name
0,1,AWND,2018-09-27,1982-01-01,Average wind speed
1,1,DAWM,2010-06-21,1935-09-23,Number of days included in the multiday wind m...
2,1,FMTM,2013-03-31,1982-01-01,Time of fastest mile or fastest 1-minute wind
3,1,HLY-WIND-1STDIR,2010-12-31,2010-01-01,Prevailing wind direction (1-8)
4,1,HLY-WIND-1STPCT,2010-12-31,2010-01-01,Prevailing wind percentage
5,1,HLY-WIND-2NDDIR,2010-12-31,2010-01-01,Secondary wind direction (1-8)
6,1,HLY-WIND-2NDPCT,2010-12-31,2010-01-01,Secondary wind percentage
7,1,HLY-WIND-AVGSPD,2010-12-31,2010-01-01,Average wind speed
8,1,HLY-WIND-PCTCLM,2010-12-31,2010-01-01,Percentage calm
9,1,HLY-WIND-VCTDIR,2010-12-31,2010-01-01,Mean wind vector direction
10,1,HLY-WIND-VCTSPD,2010-12-31,2010-01-01,Mean wind vector magnitude
11,1,MDWM,2010-06-21,1935-09-23,Multiday wind movement
12,1,PGTM,2018-09-27,1948-01-01,Peak gust time
13,1,TWND,2015-11-01,1966-03-01,Total monthly wind movement over evaporation pan.
14,1,WDF1,1996-06-30,1965-01-01,Direction of fastest 1-minute wind
15,1,WDF2,2018-09-27,1993-06-01,Direction of fastest 2-minute wind
16,1,WDF5,2018-09-27,1993-06-01,Direction of fastest 5-second wind
17,1,WDFG,2018-09-27,1948-01-01,Direction of peak wind gust
18,1,WDFI,1981-02-03,1965-01-01,Direction of highest instantaneous wind
19,1,WDFM,1996-06-30,1965-01-01,Fastest mile wind direction
20,1,WDMV,2018-08-31,1859-10-01,Total wind movement
21,1,WSF1,1996-06-30,1965-01-01,Fastest 1-minute wind speed
22,1,WSF2,2018-09-27,1993-06-01,Fastest 2-minute wind speed
23,1,WSF5,2018-09-27,1993-06-01,Fastest 5-second wind speed
24,1,WSFG,2018-09-27,1948-01-01,Peak gust wind speed
25,1,WSFI,2018-09-27,1965-01-01,Highest instantaneous wind speed
26,1,WSFM,1996-06-30,1965-01-01,Fastest mile wind speed

#### Locations

In [60]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories"
response = requests.get(url=url, headers=headers)
noaa_location_categories_json = response.json()
print(noaa_location_categories_json["metadata"])
noaa_location_categories_df = pd.DataFrame(noaa_location_categories_json['results'])
print(noaa_location_categories_df.shape)
noaa_location_categories_df

{'resultset': {'offset': 1, 'count': 12, 'limit': 25}}
(12, 2)

          id                        name
0       CITY                        City
1   CLIM_DIV            Climate Division
2   CLIM_REG              Climate Region
3      CNTRY                     Country
4       CNTY                      County
5    HYD_ACC  Hydrologic Accounting Unit
6    HYD_CAT  Hydrologic Cataloging Unit
7    HYD_REG           Hydrologic Region
8    HYD_SUB        Hydrologic Subregion
9         ST                       State
10   US_TERR                US Territory
11       ZIP                    Zip Code

#### Location Category: County Level Information

In [62]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/locationcategories/CNTY"
response = requests.get(url=url, headers=headers)
noaa_cnty_json = response.json()

In [63]:
print(noaa_cnty_json)

{'name': 'County', 'id': 'CNTY'}

#### Available Locations for Daily Summaries Data

In [64]:
url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/locations?datasetid=GHCND"
response = requests.get(url=url, headers=headers)
noaa_daily_summaries_locations_json = response.json()
print(noaa_daily_summaries_locations_json["metadata"])
noaa_daily_summaries_locations_df = pd.DataFrame(noaa_daily_summaries_locations_json['results'])
print(noaa_daily_summaries_locations_df.shape)
noaa_daily_summaries_locations_df

{'resultset': {'offset': 1, 'count': 28304, 'limit': 25}}
(25, 5)

    datacoverage             id     maxdate     mindate                name
0         0.9977  CITY:AE000001  2018-09-27  1983-01-02       Abu Dhabi, AE
1         0.9992  CITY:AE000002  2018-09-27  1944-03-20           Ajman, AE
2         0.9992  CITY:AE000003  2018-09-27  1944-03-20           Dubai, AE
3         0.9992  CITY:AE000006  2018-09-27  1944-03-20         Sharjah, AE
4         0.5542  CITY:AF000007  2018-09-27  1966-03-02           Kabul, AF
5         0.3774  CITY:AF000008  2018-09-27  1973-01-02        Kandahar, AF
6         1.0000  CITY:AG000001  2018-09-27  1877-04-07         Algiers, AG
7         0.9252  CITY:AG000002  2018-09-27  1909-11-23          Annaba, AG
8         0.8654  CITY:AG000003  2018-09-27  1973-04-03           Batna, AG
9         1.0000  CITY:AG000004  2018-09-27  1957-01-09          Bechar, AG
10        1.0000  CITY:AG000005  2018-09-27  1909-11-23          Bejaia, AG
11        0.7634  CITY:AG000006  2018-09-27  1880-05-18     Constantine, AG
12        1.0000  CITY:AG000007  2018-09-27  1995-10-25          Guelma, AG
13        0.4309  CITY:AG000008  2018-09-27  1888-01-01        Laghouat, AG
14        0.7378  CITY:AG000009  2018-09-27  1995-10-25           Medea, AG
15        0.5756  CITY:AG000010  2018-09-27  1976-04-28      Mostaganem, AG
16        1.0000  CITY:AG000011  2018-09-27  1957-01-01            Oran, AG
17        0.6031  CITY:AG000012  2018-09-27  1985-02-07  Oum el Bouaghi, AG
18        0.5926  CITY:AG000013  2018-09-27  1981-01-01           Saida, AG
19        0.7399  CITY:AG000014  2018-09-27  1995-10-25  Sidi-Bel-Abbes, AG
20        0.6938  CITY:AG000015  2018-09-27  1957-12-31          Skikda, AG
21        0.9739  CITY:AG000016  2014-02-18  1940-01-01     Tamanrasset, AG
22        1.0000  CITY:AG000017  2018-09-27  1981-01-01         Tlemcen, AG
23        0.9797  CITY:AJ000001  1992-01-31  1881-07-17            Baku, AJ
24        0.9057  CITY:AJ000002  1991-12-31  1925-09-01       Naxcivian, AJ

#### Getting Stations for General Electric Project

In [88]:
import numpy as np

In [90]:
def get_weather_stations(lat_center, long_center, square_diagonal, top_n = 5):
    base_url = "https://www.ncdc.noaa.gov/cdo-web/api/v2/stations?limit=1000&extent="
    epsilon = round(square_diagonal/np.sqrt(2)/2,4)
    a = [long_center+epsilon, lat_center+epsilon]
    b = [long_center+epsilon, lat_center-epsilon]
    c = [long_center-epsilon, lat_center-epsilon]
    d = [long_center-epsilon, lat_center+epsilon]
    w = (long_center+epsilon, lat_center+epsilon)
    x = (long_center+epsilon, lat_center-epsilon)
    y = (long_center-epsilon, lat_center-epsilon)
    z = (long_center-epsilon, lat_center+epsilon)
    url_a = round(lat_center-epsilon,4)
    url_b = round(long_center-epsilon,4)
    url_c = round(lat_center+epsilon,4)
    url_d = round(long_center+epsilon,4)
    url = base_url + str(url_a) + "," + str(url_b) + "," + str(url_c) + "," + str(url_d)
    response = requests.get(url=url, headers=headers)
    all_stations = response.json()
    all_stations_results = pd.DataFrame(all_stations['results'])
    print('Summary of Request: ')
    print(all_stations['metadata'])
    print('- . - . - . -')
    n_stations = all_stations_results.shape[0]
    {"type": "Polygon", 
     "coordinates": [[
       a, b, c, d
     ]]}
    co = {"type": "Polygon", "coordinates": [
        [w, x, y, z]]}
    lon, lat = zip(*co['coordinates'][0])
    from pyproj import Proj
    pa = Proj("+proj=aea +lat_1=37.0 +lat_2=41.0 +lat_0=39.0 +lon_0=-106.55")
    x, y = pa(lon, lat)
    cop = {"type": "Polygon", "coordinates": [zip(x, y)]}
    from shapely.geometry import shape
    final_area = shape(cop).area  # 268952044107.43506 square meters
    print('Square Meters Area Queried: ')
    print(final_area)
    print('- . - . - . -')
    if n_stations >= top_n:
        print('Gathered Sufficient Stations')
    else:
        print('Pass Bigger Area Range')
        return
    return all_stations_results

In [91]:
lat_center

47.5204

In [92]:
long_center

-122.2047

In [95]:
#print(lat_center)
#print(long_center)
get_weather_stations(lat_center, long_center, square_diagonal = 0.2, top_n = 5)

Summary of Request:
{'resultset': {'offset': 1, 'count': 14, 'limit': 25}}
- . - . - . -
Square Meters Area Queried:
167419847.03502843
- . - . - . -
Gathered Sufficient Stations

,datacoverage,elevation,elevationUnit,id,latitude,longitude,maxdate,mindate,name
0,1.0000,26.5,METERS,GHCND:US1WAKG0005,47.58590,-122.25090,2018-10-01,2008-06-01,"MERCER ISLAND 1.5 NW, WA US"
1,1.0000,115.5,METERS,GHCND:US1WAKG0010,47.48140,-122.16410,2013-03-21,2008-06-01,"RENTON 1.5 E, WA US"
2,0.8732,199.6,METERS,GHCND:US1WAKG0016,47.55030,-122.15030,2016-09-18,2008-06-01,"EASTGATE 1.7 SSW, WA US"
3,0.9996,240.8,METERS,GHCND:US1WAKG0024,47.56040,-122.15100,2017-09-03,2010-05-01,"EASTGATE 1.1 SW, WA US"
4,1.0000,104.2,METERS,GHCND:US1WAKG0042,47.52110,-122.16130,2018-10-01,2008-06-01,"NEWPORT HILLS 1.9 SSE, WA US"
5,0.9998,199.9,METERS,GHCND:US1WAKG0049,47.54650,-122.14350,2009-11-22,2008-06-01,"NEWPORT HILLS 1.4 E, WA US"
6,0.9995,60.4,METERS,GHCND:US1WAKG0074,47.50810,-122.24130,2014-01-06,2008-07-01,"BRYN MAWR SKYWAY 0.9 N, WA US"
7,0.9892,61.6,METERS,GHCND:US1WAKG0077,47.57550,-122.21340,2018-09-25,2008-08-01,"MERCER ISLAND 0.9 ENE, WA US"
8,1.0000,64.6,METERS,GHCND:US1WAKG0081,47.47520,-122.20190,2018-10-01,2008-09-01,"RENTON 0.5 SSW, WA US"
9,0.9737,85.6,METERS,GHCND:US1WAKG0136,47.54610,-122.26850,2018-09-24,2010-01-01,"SEATTLE 5.1 SE, WA US"
10,1.0000,116.4,METERS,GHCND:US1WAKG0152,47.47500,-122.13450,2011-12-10,2011-06-01,"RENTON 2.9 E, WA US"
11,0.5729,4.6,METERS,GHCND:USC00456970,47.48333,-122.20000,1902-05-31,1900-02-01,"RENTON, WA US"
12,1.0000,8.8,METERS,GHCND:USW00094248,47.49333,-122.21444,2018-09-29,1998-10-01,"RENTON MUNICIPAL AIRPORT, WA US"
13,1.0000,8.8,METERS,WBAN:94248,47.49333,-122.21444,2018-09-30,2006-01-01,"RENTON MUNICIPAL AIRPORT, WA US"

#### Query Stations for GE Projects

* This block fetches the center latitudes and longitudes of the projects for General Electric.

In [5]:
usgs_data = pd.read_csv('./uswtdbCSV/uswtdb_v1_1_20180710.csv')
usgs_ge_data = usgs_data[usgs_data["t_manu"] == "GE Wind"]
ge_projects_df = pd.pivot_table(usgs_ge_data, values=["xlong", "ylat"], columns="p_name", aggfunc="mean").transpose()
ge_projects_df.reset_index(inplace=True)
ge_projects_df.columns = ['p_name', 'center_long', 'center_lat']
ge_projects_df

                                       p_name  center_long  center_lat
0                  6th Space Warning Squadron   -70.543552   41.753341
1                          AFCEE MMR Turbines   -70.546550   41.758590
2                                   AG Land 1   -93.325691   42.206390
3                                   AG Land 2   -93.428093   42.146091
4                                   AG Land 3   -93.431992   42.145592
5                                   AG Land 4   -93.354897   41.904194
6                                   AG Land 5   -93.632095   42.335491
7                                   AG Land 6   -93.636795   42.335491
8       ARPA (Prower and Baca County) (Lamar)  -102.650894   37.362293
9                                      Alta I  -118.371622   35.037530
10                                     Alta X  -118.233569   35.097827
11                                    Alta XI  -118.376557   35.087384
12                     Amazon Wind Farm Texas  -100.988649   32.892499
13                   Anheuser-Busch Fairfield  -122.090683   38.232900
14                           Armenia Mountain   -76.890460   41.755503
15                               Ashtabula II   -97.945698   47.295865
16                              Ashtabula III   -97.934572   47.165375
17                      Ashtabula Wind Center   -97.919479   47.121003
18                     August Wind Energy LLC   -94.475632   40.764946
19                                    Baldwin  -100.695107   47.135059
20                                 Balko Wind  -100.843782   36.517913
21                                Beech Ridge   -80.522865   38.078455
22                        Beethoven Wind, LLC   -98.076880   43.175031
23                               Benson Creek  -117.274106   44.418432
24                    Benton County Wind Farm   -87.457435   40.679160
25                             Berkshire Wind   -73.274979   42.585271
26                                     Bethel  -102.469117   34.574349
27                                   Big Horn  -120.281861   45.882899
28                                 Big Timber  -109.652419   45.835719
29                            Birch Power LLC   -94.474396   40.767693
..                                        ...          ...         ...
386                             Vantage Point  -120.161813   46.953916
387                                   Victory   -95.038570   42.125240
388                          Victory(Carroll)   -95.143822   42.135793
389                                    Viking   -96.008090   43.972482
390                                      Wake  -101.104923   33.839048
391                         Walmart Red Bluff  -122.193886   40.111195
392                       Walnut Wind Project   -95.229415   41.459456
393                         Wapsipinicon Wind   -92.677794   43.766715
394                         Waymart Wind Farm   -75.436739   41.596857
395            Weatherford Wind Energy Center   -98.757784   35.524470
396  Weatherford Wind Energy Center Expansion   -98.673636   35.469806
397                        Wessington Springs   -98.596780   44.000787
398                                 White Oak   -89.065089   40.586607
399                                White Tail   -98.985918   27.490504
400                           Whitewater Hill  -116.621004   33.926117
401                                 Wildcat I   -85.864042   40.340037
402                              Willow Creek  -119.992780   45.652749
403                             Willow Spring  -117.272456   44.381703
404                  Willow Springs Wind Farm   -99.647148   33.341409
405              Wilton Wind Energy Center II  -100.667613   47.119412
406                          Wilton Wind Farm  -100.699565   47.122683
407                      Wind Colebrook South   -73.145454   41.963591
408                                  Wind GEM   -94.339256   41.469986
409                              Wind Walkers   -93.221489   43.384693
410                                Wiota Wind   -94.876793   41.391495
411                                Wolf Ridge   -97.406417   33.731785
412                                 Wolverine   -94.444794   41.393093
413                           Wolverine Creek  -111.843263   43.384136
414                               Yahoo Creek  -114.998550   42.763209
415                    unknown El Paso County  -106.405552   31.788110

[416 rows x 3 columns]

In [29]:
usgs_data = pd.read_csv('./uswtdbCSV/uswtdb_v1_1_20180710.csv')
usgs_ge_data = usgs_data[usgs_data["t_manu"] == "GE Wind"]
ge_by_project_df = usgs_ge_data.groupby("p_name")[["xlong", "ylat"]].agg(["min", "max", "mean"])
ge_by_project_df.reset_index(inplace=True)
ge_by_project_df.columns = ["p_name", "long_min", "long_max", "long_mean", "lat_min", "lat_max", "lat_mean"]
ge_by_project_df["long_range"] = ge_by_project_df["long_max"] - ge_by_project_df["long_min"]
ge_by_project_df["lat_range"] = ge_by_project_df["lat_max"] - ge_by_project_df["lat_min"]
ge_by_project_df.sort_values(by="long_range", axis=0, ascending=False, inplace=True)
ge_by_project_df

,p_name,long_min,long_max,long_mean,lat_min,lat_max,lat_mean,long_range,lat_range
186,Klondike (Wasco),-149.432159,-120.545242,-122.249387,45.552494,60.126122,46.421268,28.886917,14.573628
202,Leaning Juniper (Arlington),-120.262535,-99.765419,-119.909113,37.887753,45.673595,45.538273,20.497116,7.785842
373,Thunder Ranch,-97.495476,-97.091446,-97.306297,36.527344,36.632317,36.572365,0.404030,0.104973
287,Peetz Table,-103.529190,-103.137192,-103.322228,40.896992,40.998993,40.961955,0.391998,0.102001
164,Horse Hollow,-100.327034,-99.958275,-100.173965,32.180569,32.305607,32.253115,0.368759,0.125038
39,Brady Wind I,-102.953804,-102.605217,-102.756389,46.632294,46.719784,46.656348,0.348587,0.087490
126,Flat Ridge 2,-98.425491,-98.078690,-98.252666,37.323296,37.410694,37.371157,0.346801,0.087398
303,Prairie Breeze,-98.236794,-97.929291,-98.110132,41.880394,41.981194,41.932171,0.307503,0.100800
280,Panhandle Wind 1,-101.452370,-101.151588,-101.293173,35.377693,35.456196,35.430909,0.300782,0.078503
323,Rush Springs Wind Energy Center,-97.948318,-97.670288,-97.804808,34.655949,34.779400,34.700151,0.278030,0.123451
127,Flat Ridge 2 Expansion,-98.372894,-98.099892,-98.230420,37.319996,37.382782,37.353929,0.273002,0.062786
87,Chisholm View,-97.807289,-97.535194,-97.696358,36.544193,36.603195,36.575608,0.272095,0.059002
184,Kingman Wind Energy Center,-98.403763,-98.137535,-98.270773,37.532341,37.583740,37.556164,0.266228,0.051399
65,Capricorn Ridge,-101.043930,-100.779594,-100.933199,31.872381,32.037994,31.940820,0.264336,0.165613
40,Brady Wind II,-102.923393,-102.670692,-102.796399,46.554028,46.627296,46.602550,0.252701,0.073268
205,Limon I,-103.789291,-103.549690,-103.641999,39.361195,39.445194,39.396270,0.239601,0.083999
204,Lee/DeKalb,-88.995995,-88.759598,-88.885341,41.733791,41.886692,41.811960,0.236397,0.152901
405,Wilton Wind Energy Center II,-100.779793,-100.543793,-100.667613,47.071194,47.181492,47.119412,0.236000,0.110298
54,California Ridge,-88.010597,-87.774994,-87.893772,40.176594,40.266991,40.218930,0.235603,0.090397
232,Miami,-100.631989,-100.399719,-100.538681,35.621094,35.714905,35.653755,0.232270,0.093811
118,Elk City II,-99.772194,-99.544289,-99.682862,35.433594,35.519592,35.478656,0.227905,0.085998
20,Balko Wind,-100.951851,-100.731140,-100.843782,36.502205,36.556118,36.517913,0.220711,0.053913
207,Limon III,-103.487137,-103.269722,-103.396275,39.284824,39.446373,39.354389,0.217415,0.161549
275,Osborn,-94.558304,-94.348427,-94.454098,39.748936,39.935097,39.833765,0.209877,0.186161
302,Post Rock,-98.448395,-98.238991,-98.333078,38.790993,38.899693,38.845241,0.209404,0.108700
151,Grandview I,-101.294785,-101.087120,-101.193925,35.210396,35.306934,35.258375,0.207665,0.096538
328,Seiling,-99.069122,-98.862144,-98.993470,36.073586,36.141865,36.106937,0.206978,0.068279
154,Gratiot County,-84.588097,-84.381699,-84.524033,43.318192,43.458992,43.391066,0.206398,0.140800
218,Mariah North Wind,-102.811317,-102.605469,-102.710507,34.686619,34.746861,34.716074,0.205848,0.060242
167,Ida Grove,-95.531425,-95.325653,-95.416866,42.250565,42.430008,42.313729,0.205772,0.179443
...,...,...,...,...,...,...,...,...,...
412,Wolverine,-94.444794,-94.444794,-94.444794,41.393093,41.393093,41.393093,0.000000,0.000000
3,AG Land 2,-93.428093,-93.428093,-93.428093,42.146091,42.146091,42.146091,0.000000,0.000000
2,AG Land 1,-93.325691,-93.325691,-93.325691,42.206390,42.206390,42.206390,0.000000,0.000000
391,Walmart Red Bluff,-122.193886,-122.193886,-122.193886,40.111195,40.111195,40.111195,0.000000,0.000000
81,Central Community College-Hastings,-98.334496,-98.334496,-98.334496,40.569241,40.569241,40.569241,0.000000,0.000000
227,Meadow Ridge,-94.446289,-94.446289,-94.446289,41.390095,41.390095,41.390095,0.000000,0.000000
171,Ipswich,-70.841103,-70.841103,-70.841103,42.716091,42.716091,42.716091,0.000000,0.000000
247,NREL - GE,-105.220001,-105.220001,-105.220001,39.912083,39.912083,39.912083,0.000000,0.000000
219,Mars Hill,-67.813553,-67.813553,-67.813553,46.536983,46.536983,46.536983,0.000000,0.000000
212,Luther College,-91.817696,-91.817696,-91.817696,43.309093,43.309093,43.309093,0.000000,0.000000
266,Oak Creek Energy Systems,-118.364388,-118.364388,-118.364388,35.034294,35.034294,35.034294,0.000000,0.000000
191,Lake Region State College Wind Turbine,-98.888092,-98.888092,-98.888092,48.166393,48.166393,48.166393,0.000000,0.000000
370,Taylor Farms,-121.451797,-121.451797,-121.451797,36.505150,36.505150,36.505150,0.000000,0.000000
371,Teichert Aggregates,-121.356560,-121.356560,-121.356560,37.616653,37.616653,37.616653,0.000000,0.000000
372,Thousand Springs,-114.966805,-114.966805,-114.966805,42.871613,42.893803,42.881740,0.000000,0.022190
177,Jiminy Peak Ski Resort,-73.292801,-73.292801,-73.292801,42.543793,42.543793,42.543793,0.000000,0.000000
374,Tooele Army Depot II,-112.369781,-112.369781,-112.369781,40.501865,40.501865,40.501865,0.000000,0.000000
273,Osage Utilities,-92.840591,-92.840591,-92.840591,43.292492,43.292492,43.292492,0.000000,0.000000
90,City of Seward,-97.187469,-97.187469,-97.187469,40.895187,40.895187,40.895187,0.000000,0.000000
378,Tuana Gulch,-114.969284,-114.969284,-114.969284,42.827793,42.846092,42.836908,0.000000,0.018299
155,Greenfield Wind,-94.488495,-94.488495,-94.488495,41.290493,41.290493,41.290493,0.000000,0.000000
276,PaTu Wind Farm,-120.617287,-120.617287,-120.617287,45.602592,45.612095,45.607344,0.000000,0.009503
138,Golden Acorn Casino,-116.351318,-116.351318,-116.351318,32.701496,32.701496,32.701496,0.000000,0.000000
349,Spearville I,-99.707291,-99.707291,-99.707291,37.875694,37.875694,37.875694,0.000000,0.000000
132,Fossil Gulch Wind Park (Hagerman),-114.949585,-114.949585,-114.949585,42.852196,42.865093,42.858980,0.000000,0.012897
130,Forward Fontanelle,-94.570694,-94.570694,-94.570694,41.339592,41.339592,41.339592,0.000000,0.000000
109,Cumberland Rose,-94.434891,-94.434891,-94.434891,41.227093,41.227093,41.227093,0.000000,0.000000
104,Crow Lake,-98.740089,-98.740089,-98.740089,43.903591,43.903591,43.903591,0.000000,0.000000
91,City of Soledad Water Reclamation Facility,-121.340164,-121.340164,-121.340164,36.420940,36.420940,36.420940,0.000000,0.000000
340,Sky Volt,-94.485191,-94.485191,-94.485191,41.290691,41.290691,41.290691,0.000000,0.000000