In [22]:
import pandas as pd

In [23]:
usgs_data = pd.read_csv('./uswtdbCSV/uswtdb_v1_1_20180710.csv')

In [24]:
usgs_ge_data = usgs_data[usgs_data["t_manu"] == "GE Wind"]

In [25]:
ge_projects_df = pd.pivot_table(usgs_ge_data, values=["xlong", "ylat"], columns="p_name", aggfunc="mean").transpose()
ge_projects_df = ge_projects_df.reset_index()
ge_projects_df.columns = ['p_name', 'center_long', 'center_lat']
ge_projects_df.head()

                       p_name  center_long  center_lat
0  6th Space Warning Squadron   -70.543552   41.753341
1          AFCEE MMR Turbines   -70.546550   41.758590
2                   AG Land 1   -93.325691   42.206390
3                   AG Land 2   -93.428093   42.146091
4                   AG Land 3   -93.431992   42.145592